@charset "UTF-8";
#content_box{
	width: 1500px;
	margin: 0 auto;
}
#header{
	width: 1400px;
  height: 100px;
	margin-top: 30px;
	border-top: 1px solid #3c3c3c;
}

#category{
	width: 100%;
  display: flex;
  justify-content: center;
  position: absolute;
  top: 50px;
  left: 50%;
  transform: translate(-50%, -50%)

}

#logo{
 width: 250px;
 padding-top: 30px;
 padding-right: 40px;
 box-sizing: border-box;
 position: relative;
 z-index: 10;
}
#menu ul{
 padding-left: 20px;
}
#menu ul li{
 display: block;
 float: left;
 vertical-align: middle;
}
#menu ul li a{
 line-height: 60px;
 font-size: 15px;
 letter-spacing: 0;
 height: 60px;
 display: inline-block;
 padding: 0 15px;
 color: #3c3c3c;
}
