@charset "UTF-8";

#area{
	width: 1200px;
	margin: 0 auto;
}

#cart_content a{
	font-size: 30px;
}
#row1{
	height: 45px;
	background-color: #e6e6e6;
	display: flex;
	flex-wrap: wrap;
	line-height: 45px;
}

#row1 th{
	font-size: 14px;
	color: #3c3c3c;
  width: 300px;
	border-left: solid 2px;
	border-color: #ffffff;
}

#row1 td{
	width: 300px;
	height: 250px;
	text-align: center;
}
#row1 td img{
	width: 300px;
	height: 250px;
}
