@charset "UTF-8";

#content{
	display: flex;
	flex-wrap: wrap;
}

#plus_menu{
	display: inline-block;
  width: 220px;
  padding: 0 30px;
}

#plus_menu ul{
	margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  list-style: none;
}

#plus_menu ul li{
	position: relative;
	font-size: 12px;
  box-sizing: border-box;
  color: #3c3c3c;
  cursor: pointer;
  padding: 15px 0;
  text-transform: uppercase;
}

#plus_menu ul li a{
	color: #3c3c3c;
}

 #list_section {
		height: 377px;
	}

#list_section ul{
	 list-style: none;
	 display: flex;
   flex-wrap: wrap;
}

.product_img img{
 	width: 260px;
	height: 263px;
}

.product_title a{
 font-size: 14px;
 line-height: 24px;
 color: #3c3c3c;
}

.product_price a{
  margin-top: 20px;
  font-size: 12px;
	color: #3c3c3c;
	}

#footer{
	padding-top: 50px;
	padding-left: 30px;
	font-size: 12px;
	color: #3c3c3c;
}
