@charset "UTF-8";

#page_box{
width: 1500px;

}

#page1{
width: 1000px;
height: 500px;
margin: 0 auto;

display: flex;
flex-wrap: wrap;
}

.page_img img{
	width: 500px;
	height: 500px;
}

.page_comment{
	width: 400px;
	height: 500px;
  margin: 0 auto;
}

#title_pop{
 font-size: 26px;
 color: #3c3c3c;
}


.message{
	padding-top: 30px;
}

.message a{
	font-size: 12px;
  line-height: 24px;
  color: #3c3c3c;
}

.productid a{
	font-size: 12px;
  color: #3c3c3c;
}

.quantity a{
	font-size: 12px;
  color: #3c3c3c;
}

#button{
 background: #212121;
 color: #ffffff;
 font-size: 20px;
 width: 100%;
 height: 60px;
 line-height: 60px;
 cursor: pointer;
}
 #cart img{
 width: 30px;
 height: 30px;
}
